<p>dialog works!</p>

<!-- <h2 mat-dialog-title>{{description}}</h2>

<mat-dialog-content [formGroup]="form">
  
    <mat-form-field>
        <input matInput
                placeholder="Course Description"
               formControlName="description">
    </mat-form-field>
      ....
 
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button"(click)="close()">Close</button>
    <button class="mat-raised-button mat-primary"(click)="save()">Save</button>
</mat-dialog-actions> -->



<h1 mat-dialog-title>INPUT PLEASE</h1>
<div mat-dialog-content>
  <div [formGroup]="productForm">
    <mat-form-field>
      <input matInput formControlName="name" class="form-control" placeholder="Name">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="price" class="form-control" placeholder="Price">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="stock" class="form-control" placeholder="Stock">
    </mat-form-field>
    <mat-form-field>
      <input matInput formControlName="description" class="form-control" placeholder="Description">
    </mat-form-field>
  </div>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="close()">No Thanks</button>
  <button mat-button (click)="save()" cdkFocusInitial>Ok</button>
  <!-- <button mat-button [mat-dialog-close]="productForm" cdkFocusInitial>Ok</button> -->

</div>


<div class="clearfix"></div>
<div class="form-group">
  <button type="submit" class="btn btn-success">Save Product</button>
</div>


<!-- <div class="form-group">
        <div class="upload-image">
          <div #image class="image-wrapper"></div>
          <div class="browse-btn">
            <input type="file" name="cameraImg" id="cameraImg" (change)="onSelectedFile($event)" />
            <div class="browse-image">
              <img src="assets/images/camera.png" width="60px" />
              <p>Browse image</p>
            </div>
          </div>
        </div>
      </div> -->